@page "/tareas"

<PageTitle>Tareas</PageTitle>

<div class="d-flex">

    <h1 class='flex-grow-1'>
        <i class="bi bi-list-task"></i>
        Tareas
    </h1>

    <div>
        <a class="btn btn-primary" href="/tareas/form">
            <i class="bi bi-plus"></i> Añadir
        </a>
    </div>

</div>
<hr>

<form class="row mb-4">

    <div class="mb-2 col-md-4">
        <InputSelect class="form-select" @bind-Value="HermanoId" @bind-Value:after="CarregarTareas">
            <option value="0">Hermanos</option>
            
            @if (listaHermanos is not null)
            {
                @foreach (var item in listaHermanos)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }                
            }
        </InputSelect>
    </div>

    <div class="mb-2 col-md-8">

        <div class="d-flex">

            <div class="flex-grow-1">
                <InputDate Type="InputDateType.Month" class="form-control" @bind-Value="MesAno" @bind-Value:after="CarregarTareas" />
            </div>

        </div>

    </div>

</form>

@if (listaTareas is null)
{
    <h2>Cargando...</h2>
}
else
{

    <div class="list-group">
        @foreach (var item in listaTareas)
        {
            <a class="list-group-item list-group-item-action d-flex" href="/tareas/form/@item.Id">
                <span class='flex-grow-1'>
                    @item.Fecha.ToShortDateString() - @item.Hermano
                </span>
                <span>
                    @item.Descripcion
                </span>
            </a>
        }
    </div>

}

@code {
    List<ListarTarea> listaTareas;
    List<Hermano> listaHermanos;
    int HermanoId { get; set; }
    DateTime MesAno { get; set; } = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        listaHermanos = await _hermanosRepository.GetAll();
        await CarregarTareas();
    }

    public async Task CarregarTareas()
    {
        listaTareas = await _tareasRepository.GetAll();
    }
}
