@page "/tareas"

<PageTitle>Tareas</PageTitle>

<div class="d-flex">

    <h1 class='flex-grow-1'>
        <i class="bi bi-list-task"></i>
        Tareas
    </h1>

    <div>
        <a class="btn btn-primary" href="/tareas/form">
            <i class="bi bi-plus"></i> Añadir
        </a>
    </div>

</div>
<hr>

<form class="mb-2">

    <InputSelect class="form-select" @bind-Value="HermanoId" @bind-Value:after="Filtrar">
        <option value="0">Todos los Hermanos</option>

        @if (listaHermanos is not null)
        {
            @foreach (var item in listaHermanos)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        }
    </InputSelect>

</form>

@if (listaTareas is null)
{
    <h2>Cargando...</h2>
}
else
{

    <div class="list-group">
        @foreach (var item in listaTareas)
        {
            <a class="list-group-item list-group-item-action" href="/tareas/form/@item.Id">
                <span>
                    @item.Fecha.ToString("dd/MM") - @item.Hermano
                    <br>
                </span>

                <span class='text-muted'>
                    @item.Descripcion
                </span>
            </a>
        }
    </div>

}

@code {
    List<ListarTarea> listaTareas;
    List<Hermano> listaHermanos;

    int HermanoId { get; set; }
    DateTime MesAno { get; set; } = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        listaHermanos = await _hermanosRepository.GetAll();
        listaTareas = await _tareasRepository.GetAll(HermanoId);
    }

    public async Task Filtrar()
    {
        listaTareas = await _tareasRepository.GetAll(HermanoId);
    }
}
